/* CSS Document */
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select{margin:0;padding:0}
body{font-family:"Microsoft Yahei"}
p{margin: 0;padding: 0px;}
.w1190{width: 1190px;margin: 0 auto;}

.our_tools{padding:30px 0 42px;}
.may-like-box {overflow:hidden;width:1190px;margin:0 auto;}
.may-like {margin:10px 0;height:260px;overflow:hidden;width:1008px;}
.may-like li {float:left;height:260px;padding-right:8px;width:160px;}
.m-l-img-box {position:relative;width:160px;height:160px;}
.d-add {position:absolute;left:0;right:0;bottom:0;height:28px;line-height:28px;background:url(../imagesv4/c-0-3.png) repeat left top;
padding-left:10px}
.d-add img {vertical-align:middle;margin-top:6px}
.f-new {position:absolute;left:1px;top:2px;height:46px;width:46px}
.may-like li h4 {font-weight:normal;line-height:22px;margin-top:9px;margin-bottom:3px}
.may-like li p {line-height:22px;}
.may-like li p span {color:#aaa}
.may-like li p s {color:#f00;font-weight:bold;text-decoration:none}
/*友情链接*/
.c-vx b {display:block;width:196px;padding:9px 0 4px;border-bottom:1px solid #e6e6e6;}
.i_zt_a {margin-top:10px;background:#dedede;height:29px;line-height:29px;text-align:left;}
.i_zt_a .z_l {float:left;padding-right:10px;}
.i_zt_a .z_txt {font-family:'Hiragino Sans GB', "Microsoft Yahei";font-size:14px;}
.i_zt_p {padding-top:10px;}
.i_zt_p img {width:58px;height:58px;margin-right:10px;}
.bg-f8 {background-color:#eaeaea;width:100%;}
.i-link-img {overflow:hidden;width:1190px;margin-bottom:10px;margin-top:20px;height:70px;}
.i-link-img img {display:block;float:left;margin-right:8px;}
.i-link-img .bd .tempWrap {width:1190px;}
.i-link-img .bd ul li {float:left;overflow:hidden;}
.web-nav {width:180px;float:left;height:150px}
.web-nav b {font-size:14px;color:#3c3c3c;font-weight:bold;margin-bottom:10px;display:block}
.web-nav a {display:block;height:30px;line-height:30px;color:#606060;font-size:12px;text-decoration:none;}
.web-nav a:hover{color:#f64400;}
.i-link {border-top:1px solid #dfdfdf;padding-top:25px;padding-bottom:30px;}
.i-link h4 {padding-bottom:8px;font-weight:bold;font-size:14px;color:#3c3c3c;}
.i-link a {text-decoration:none;height:30px;font-size:12px;color:#606060;line-height:30px;display:block;float:left;padding-right:30px;margin-left:-20px;margin-right:6px;padding-left:20px;background:url(../imagesv4/gary-line.jpg) no-repeat left center; +
float:auto; + 
display:inline; +
zoom:1;_display:inline;_zoom:1}
.i-link a:hover {color:#f64400}
.c-vx {float:right;width:276px;height:140px;margin-bottom:10px;}
.c-vx a{text-decoration:none;}
.c-vx h2 {font-size:14px;color:#3c3c3c;margin-bottom:10px;}
.c-vx h2 a {font-weight:normal;color:#f64400;}
.c-vx h2 a:hover {text-decoration:underline;}
.c-vx p {line-height:30px;font-size:12px;color: #606060;}
.c-vx .two-code {padding:6px;width:236px;height: 82px;background-color:#efefef;overflow:hidden;}

.two-code .left {width:80px;height:80px;overflow:hidden;float:left;}
.two-code .left img {width:80px;height:80px;overflow:hidden;border:none;}
.two-code .right {float:left;}
.two-code .right p {margin:0px 0px 0px 10px;font-size:12px;color:#3c3c3c;}
.two-code .right .icons {width:140px;height:20px;line-height:20px;background-color:#e6e6e6;
margin-bottom:6px;border-radius:50px;margin-left:15px;font-size:12px;font-family:"宋体";color:#3c3c3c;}
.right .icons .i1 {float:left;width:15px;height:15px;background:url(../imagesv4/common-pic.png) no-repeat -32px -393px;
margin:0 6px;}
.right .icons .i2 {float:left;width:15px;height:15px;background:url(../imagesv4/common-pic.png) no-repeat -32px -429px;
margin:0 6px;}
.right .icons a{color:#666;}
.i_zt_a {margin-top:10px;background:#dedede;height:29px;line-height:29px;text-align:left;}
.i_zt_a .z_l {float:left;padding-right:10px;}
.i_zt_a .z_txt {font-family:'Hiragino Sans GB', "Microsoft Yahei";font-size:14px;}
.i_zt_p {padding-top:10px;}
.i_zt_p img {width:58px;height:58px;margin-right:10px;}
#portalfoot{background:#f0f0f0;padding-bottom: 10px;}
.footer_middle {width:100%;height:40px;line-height:40px;color:#bfbfbf;text-align:center;padding-top:20px;
}
.footer_middle a {color:#3c3c3c;padding:0 14px;font-size:12px;text-decoration:none;}
.footer_middle a:hover {color:#f64400;}
.footer_con {text-align:center;background:#f0f0f0;font-size:12px;}
.footer_con p {line-height:28px;color:#666;}
.f_rz_p {padding-top:20px;}
.f_rz_p a {padding-left:10px;}
.f_rz_p img{height:30px}
.footer_con .f_wa {margin-bottom:18px;line-height:16px;}
.f_wa span {color:#aaa;font-size:12px;}
.f_wa a {text-decoration:none;display:inline-block;padding:0 2px;
    color:#aaa;font-size:12px;font-family:Arial;}
.f_wa a:hover{color:#f64400;}

