@charset "utf-8";
/* CSS Document */
.body { color: #3c3c3c; font-family: "Microsoft Yahei",'Hiragino Sans GB'; }
html, body { _margin: 0; _height: 100%;/*IE6 BUG*/ min-width: 1190px; overflow-x:hidden}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p,
blockquote, table, th, td, iframe ,a ,span ,i,strong{ margin: 0; padding: 0; font-family:"Microsoft Yahei",'Hiragino Sans GB'; }
.index_v4_bg{ width: 100%;height: 945px;background: #f2f2f2;box-shadow:3px 3px 3px #d8d7d8 inset;
	-moz-box-shadow:3px 3px 3px #d8d7d8 inset;
	-webkit-box-shadow:3px 3px 3px #d8d7d8 inset;  }
.J-mainNav ul li:hover{color: #3c3c3c;}
.J-mainNav ul li:hover a{color: #3c3c3c;}
.fd-clr i {display:block;float:left;height:33px;width:38px;}
.fd-clr a,.fd-clr span {display:block;float:left;
	font-size:14px;height:33px;line-height:33px;white-space:nowrap;text-decoration:none;}

.m_zl {padding:9px 0 10px;position:relative;width:180px;height:530px;background-color:#fff;}
.m_zl .fd-clr {clear:both;height:33px;}
.m_zl .fd-clr i {width:33px;height:33px;background:url(../imagesv4/common-pic.png) no-repeat;vertical-align:middle;}
.m_zl .fd-clr i.i2 {background-position:0 -37px;}
.m_zl .fd-clr i.i3 {background-position:0 -74px;}
.m_zl .fd-clr i.i4 {background-position:0 -111px;}
.m_zl .fd-clr i.i5 {background-position:0 -148px;}
.m_zl .fd-clr i.i6 {background-position:0 -185px;}
.m_zl .fd-clr i.i7 {background-position:0 -222px;}
.m_zl .fd-clr i.i8 {background-position:0 -259px;}
.m_zl .fd-clr i.i9 {background-position:0 -296px;}
.m_zl .fd-clr i.i10 {background-position:0 -333px;}
.m_zl .fd-clr i.i11 {background-position:0 -370px;}
.m_zl .fd-clr i.i12 {background-position:0 -407px;}
.m_zl .fd-clr i.i13 {background-position:0 -444px;}
.m_zl .fd-clr i.i14 {background-position:0 -481px;}
.m_zl .fd-clr i.i15 {background-position:0 -518px;}
.m_zl .fd-clr i.i16 {background-position:0 -555px;}
.m_zl .fd-clr:hover {background-color:#f2f2f2;}
.m_zl .fd-clrhover {background-color:#f2f2f2;}
.show {display: block;}
.hide {display:none;}

.fl { float: left; display: inline; }
.fr { float: right; display: inline; }
.clear { height: 0px; line-height: 0px; clear: both; }
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
*+html .clearfix { overflow: hidden; }
* html .clearfix { height: 1%; }
.textC { text-align: center;}

.text_over{text-overflow :ellipsis;white-space :nowrap; overflow : hidden;}

/*左侧分类导航end*/

.m_zm {width:800px;height:550px;overflow:hidden;}
.m_zscroll {margin:20px auto 0;overflow:hidden;position:relative;width:760px;height:300px;}
.m_zscroll .hd {position:absolute;right:10px;bottom:10px;overflow:hidden;z-index:1;height:20px;}
.m_zscroll .hd ul {overflow:hidden;zoom:1;float:left;}
.m_zscroll .hd ul li {float:left;text-align:center;cursor:pointer;margin-right:2px;width:20px;height:20px;line-height:20px;background:#e6e6e6;}
.m_zscroll .hd ul li.on {background:#de7c4b;color:#fff;}
.m_zscroll .bd {position:relative;height:100%;z-index:0;}
.m_zscroll .bd li {zoom:1;vertical-align:middle;}
.m_zscroll .bd img {width:760px;height:300px;display:block;}
.w_pic {float:left;width:189px;height:200px;}
.m_zscroll .prev,.m_zscroll .next {position:absolute;left:0;top:42%;margin-top:-10px;display:block;width:26px;height:54px;background:url(../imagesv4/common-pic.png) -36px -313px no-repeat;filter:alpha(opacity = 50);opacity:0.5;}
.m_zscroll .next {left:auto;right:0;background-position:-66px -313px;}
.m_zscroll .prev:hover,.m_zscroll .next:hover {filter:alpha(opacity = 100);opacity:1;}
.tempWrap ul,#slideBox_down ul{overflow:hidden;  position:absolute;  top:0;  left:0;}
.tempWrap ul li{float:left;}
/*banner*/

.m_z_dpcx {height:230px;overflow:hidden;}
.m_z_title {padding-left:8px;margin-bottom:6px;}
.m_z_title .l_tit {display:block;height:24px;line-height:24px;font-weight:bold;}
.txtScroll-top {overflow:hidden;position:relative;}
.txtScroll-top .infoList li {height:24px;line-height:24px;}
.txtScroll-top .infoList li b {font-weight:700;}
.m_zscroll_txt {width:195px;text-align:left;}
.m_z_cxUl {margin-right:-26px;}
.m_z_cxUl li {float:left;display:inline;margin-right:12px;}

.slideBox_down {margin:0 auto;margin-top:20px;width:760px;height:210px;overflow:hidden;position:relative;}
.slideBox_down .hd {height:15px;overflow:hidden;position:absolute;right:5px;bottom:5px;z-index:1;}
.slideBox_down .hd ul {overflow:hidden;zoom:1;float:left;}
.slideBox_down .hd ul li {float:left;margin-right:2px;width:15px;height:15px;line-height:14px;text-align:center;background:#fff;cursor:pointer;}
.slideBox_down .hd ul li.on {background:#f00;color:#fff;}
.slideBox_down .bd {position:relative;height:100%;z-index:0; background:#fff;}
.slideBox_down .bd li {zoom:1;vertical-align:middle;}
.slideBox_down .bd img {width:100%;display:block;}
.slideBox_down .prev,.slideBox_down .next {position:absolute;left:8px;top:45%;margin-top:-10px;display:block;width:20px;height:40px;background:url(../imagesv4/common-pic.png) -93px 0px no-repeat;filter:alpha(opacity = 80);opacity:0.8;}
.slideBox_down .next {left:auto;right:8px;background-position:-142px 0px;}
.slideBox_down .prev:hover,.slideBox_down .next:hover {filter:alpha(opacity = 100);opacity:1;}
.slideBox_down .prevStop {display:none;}
.slideBox_down .nextStop {display:none;}
.slideBox_down .second_meauImg {margin-left:14px;padding-left:6px;width:720px;height:210px;overflow:hidden;}
.second_meauImg .sceond_img {float:left;width:144px;height:200px;display:block;overflow:hidden;margin-top:5px;	}

.sceond_img{transition:All 0.4s ease-in-out;-webkit-transition:All 0.4s ease-in-out;-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;}
.sceond_img:hover{transform:translate(0,-10px);-webkit-transform:translate(0,-10px);-moz-transform:translate(0,-10px);
	-o-transform:translate(0,-10px);-ms-transform:translate(0,-10px);}

.second_meauImg a:hover {color:#3c3c3d;}
.sceond_img .child-text {width:144px;text-align:center;font-family:"Microsoft Yahei","Hiragino Sans GB";}
.child-text p {color:#f60;font-size:14px;}
.child-text p em {font-size:18px;}

/*banner下广告*/

.m_zr {margin-top:20px;width:210px;height:528px;background-color:#fff;}
.m_zr .welcome {height:116px;}
.welcome .user-header {height:64px;overflow:hidden;color:#3c3c3c;font-family:"Microsoft Yahei";}
.user-header .head-pic {display:block;float:left;height:50px;margin-left:12px;margin-top:7px;width:50px;}
.user-header .head-pic img {border-radius:50%;display:block;height:50px;width:50px;}
.user-header .head-text {float:left;width:130px;margin-left:10px;}
.head-text .say-hello {margin-top:12px;display:block;font-size:12px;height:18px;line-height:18px;}
.welcome .operation {position:relative;height:50px;overflow:hidden;}
.operation .login-btn-icon {position:absolute;left:10px;top:14px;width:19px;height:19px;background:url(../imagesv4/common-pic.png) no-repeat -68px -192px;}
.operation .regist-btn-icon {position:absolute;left:16px;top:14px;width:19px;height:19px;background:url(../imagesv4/common-pic.png) no-repeat -38px -192px;}
.operation .login-btn,.operation .regist-btn {position:relative;background-color:#f60;border:1px solid #e7e7e7;border-bottom:none;border-right:none;border-color:#e7e7e7;float:left;border-image:none;border-style:solid solid solid none;border-width:1px 1px 1px medium;display:block;font-family:"Microsoft Yahei","Hiragino Sans GB";font-size:14px;height:44px;line-height:44px;text-align:center;color:#fff;}
.operation .login-btn:hover {background:#f60; color:#fff; text-decoration:none;}
.operation .regist-btn:hover {background:#f64400; color:#fff; text-decoration:none;}
.operation .login-btn {background:#f64400; padding-left:13px; width:92px; border-right:none;margin-right:-2px;}
.operation .regist-btn {border-right:medium none;padding-left:16px;width:86px;border-right:1px #e2e2e2 solid;}
.register_after {height:48px;overflow:hidden;border:1px solid #e2e2e2;border-left:none;border-right:none;}
.register_after li {margin-right:-1px;float:left;width:104px;height:24px;overflow:overhide;line-height:24px;text-align:center;border-right:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;}
.register_after .l_fb { border-right:none;}
/* 欢迎登录 */

.firstScr {position:relative;}
.firstScr .float-layer {overflow:hidden;position:absolute;top:0;
	width:780px;z-index:1000;height:547px;left:174px;background-color:#fff;
	border-top: 1px solid #f60;
	border-left: 2px solid #f2f2f2;
	z-index:99999px;
	moz-box-shadow:0px 2px 2px #f2f2f2;
	-webkit-box-shadow:0px 2px 2px #f2f2f2;
	box-shadow:0px 2px 2px #f2f2f2;


}
.float-layer .text-content {position:absolute;top:0;width:780px;z-index:1000;height:547px;left:2px;}
.text-content .content-left {float:left;width:475px;}
.text-content .content-right {float:right;width:260px;height:549px;background-color:#f8f8f8;}
.content-right hr {background-color:#f8f8f8;display:block;border:none;font-size:0;height:1px;margin-left:20px;width:249px;}
.content-right .ad-img01 {width:260px;height:190px;border:none;overflow:hidden;}
.content-right .ad-img02 {width:260px;height:350px;border:none;overflow:hidden;}
.text-content .item-ctn {width:460px;float:left;border-bottom:2px dashed #f2f2f2;
	padding-bottom:20px; margin-left:30px;}
.item-ctn .eye2Div {margin:37px 0 0 30px !important;width:200px;border-bottom:none;display:block;height:18px;padding-bottom:8px;font-weight:400;}
.item-ctn-other .eye2Div {margin:37px 0 0 0px !important;width:420px;border-bottom:none;display:block;height:18px;padding-bottom:8px;font-weight:400;color:#f64400;}
.item-ctn-other .eye2Div a{color:#f64400;}
.item-ctn a {text-decoration:none;display:block;float:left;font-family:"Microsoft Yahei";font-size:14px;height:18px;line-height:18px; }
.item-ctn a:hover {color:#ff7300;}
.item-ctn .item {width:220px;float:left;}
.item-ctn .item.item-other {width:440px;}
.text-content ul {margin:9px 0 -15px 30px !important;width:225px;height:90px;overflow:hidden;float:left;}
.item-other ul {margin:9px 0 -15px 0px !important;width:460px;height:90px;overflow:hidden;float:left;}
.item-ctn-other-last .item-other ul {margin:9px 0 -15px 30px !important;width:370px;height:240px;overflow:hidden;float:left;}
.text-content ul li {display:block;float:left;margin-bottom:12px;margin-right:18px;}
.text-content ul li a {display:block;height:18px;line-height:18px;white-space:nowrap;text-decoration:none;}
.text-content ul li a:hover {color:#ff7300;}
.text-content ul li a.light {color:#ff7300;}
/*类目*/

.buy-sell {height:182px;overflow:hidden;margin-top:1px;}
.slideTxtBox {width:208px;text-align:left;}
.slideTxtBox .hd {height:40px;line-height:30px;position:relative;}
.slideTxtBox .hd ul {float:left;position:absolute;top:-1px;height:40px;}
.slideTxtBox .hd ul li {height:39px;font-weight:normal;font-family:"Microsoft Yahei";color:#3c3c3c;font-size:14px;text-align:center;line-height:50px;border-bottom:1px solid #e6e6e6;width:104px;float:left;cursor:pointer;}
.slideTxtBox .hd ul li.on {height:39px;background:#fff;border-bottom:1px solid #f64400; color:#f64400;}
.slideTxtBox .bd{overflow:hidden;height:140px;padding:0px 10px}
.slideTxtBox .bd ul {width:200px; padding-top:13px;}
.slideTxtBox .bd li {float:left; margin-bottom:13px;}
.slideTxtBox .bd li a {display:block;height:28px;width:28px;padding:10px;background:#f3f3f3;border:1px solid #ddd;text-align:center;line-height:14px;color:#606060;font-size:12px;}
.slideTxtBox .bd ul:nth-child(2) li:nth-child(5) a{height:48px;line-height:48px;width:48px;padding:0px;}
.slideTxtBox .bd li:nth-child(8) a{height:48px;line-height:48px;width:48px;padding:0px;}
.slideTxtBox .bd li:nth-child(10) a{height:48px;line-height:48px;width:48px;padding:0px;}
.slideTxtBox .bd li a:hover{color:#f60}
.slideTxtBox .bd li em{display:block;height:48px;width:19px;background:url(../imagesv4/jiantou.png) no-repeat 8px 20px; }
/* 买家与卖家 */
.ind-banner-rfgg{ width:189px;height:220px;padding:0px 10px}

.ind-banner-rfgg img{
	display: inline-block;
	-webkit-transform-origin: center center;
	-ms-transform-origin: center center;
	transform-origin: center center;
}
.ind-banner-rfgg img:hover {
	-webkit-animation-name: shake-base;
	-ms-animation-name: shake-base;
	animation-name: shake-base;
	-webkit-animation-duration: 100ms;
	-ms-animation-duration: 100ms;
	animation-duration: 100ms;
	-webkit-animation-iteration-count: infinite;
	-ms-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	-ms-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-delay: 0s;
	-ms-animation-delay: 0s;
	animation-delay: 0s;
	-webkit-animation-play-state: running;
	-ms-animation-play-state: running;
	animation-play-state: running;
}
/*banner右侧广告图片end*/

/*服务市场*/
.market{width:1190px;height:120px;margin:20px auto;background: #fff url(../imagesv4/map.png) no-repeat -43px -11px;background-size:cover;overflow:hidden;}
.market_section{float:left;width: 32.4%;
	text-align:center;height:64px;margin:28px 0;margin-left: 10px;overflow: hidden;}

.market_section img{transition:All 0.4s ease-in-out;-webkit-transition:All 0.4s ease-in-out;-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;}


.market_section img:hover{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
}

.market_section_icon{height:50px;width:50px;border-radius:50%;}
.market_title{width:50px;font-size:20px;line-height:24px;color:#3c3c3c;display:inline-block;vertical-align:middle;margin:0 2px}
.market_item{display:inline-block;vertical-align:top;width:252px;height:64px;text-align:left;overflow:hidden;}
.market_item a{font-size:12px;color:#606060;display:block;width:60px;height: 22px;line-height: 22px;overflow: hidden;float: left;}
.market_item a:hover{color:#f60}






/*找现货 找物流 找金融*/
/*找现货左侧框框*/
.common-find-con{width:1190px;margin:0 auto;background:#fff;height:215px;overflow:hidden;}
.common-find-goods-con{height:215px;float:left;clear:both}
.common-find-tip{background:#f60;color:#fff;width:156px;height:164px;padding:26px 22px;display:inline-block;float:left;position: relative;}
.common-find-tip .goods_topline{position: absolute;height:2px;width:200px;left:0;top:0;background:#f60}
.common-find-tip h2{font-size:30px;font-weight:normal;border-bottom:2px solid #fff;display:inline-block;padding-bottom:16px}
.common-find-tip p{font-size:12px;}
.common-find-tip .p2{margin-bottom:8px;line-height: 22px;height: 22px;overflow: hidden;}
.common-find-tip .p1{margin:14px auto 2px;line-height: 22px;height: 22px;overflow: hidden;}
.common-find-tip .bottom_box{position: absolute;left:0;top:133px;width:100%;height:82px}
.common-find-tip .tip_box{width:138px;height:26px;line-height:26px;font-size:14px;margin-left:24px;margin-top:19px;border:2px solid #fff;padding-left:10px;background:url(../imagesv4/tip_box.png) no-repeat 114px center;}

/*找现货表单*/

.common-find-goods-form{padding:15px 15px 15px 20px;float:left;}
.form_input_div{margin-bottom:15px;position: relative;}
.form_input_div i{position: absolute;left: 10px;top: 12px;font-size: 17px;color: #f60;font-style: normal;}
.common-find-goods-form input[type="text"]{box-sizing:content-box;width:500px;height:30px;line-height:30px;background:#f2f2f2;border:none;padding:3px 24px}
.common-find-goods-form input[type="text"]:last-child{margin-bottom:0}
.common-find-goods-form input[type="text"]:focus{background:#fff;outline:#999}

/*找现货表单 弹出框*/
.find-goods-success{position: fixed;display: none;width:516px;height:220px;background:#fff;left:50%;top:50%;margin-left:-258px;margin-top:-110px;z-index: 9999;box-shadow:0 0 10px #666}
.find-goods-success-content{width:250px;height: 50px;margin:50px auto 14px;}
.find-goods-success-content img{height:50px;}
.find-goods-success-content h2{margin-left:18px;display: inline-block;color:#f64400;font-size:20px;font-weight:normal;}
.find-goods-success-tips{font-size:14px;color:#666;text-align:center;}
.find-goods-success-close{display:block;width:110px;height:30px;background:#f60;border: none;color:#fff;cursor: pointer;margin:32px auto 0;border-radius:2px}

/*电话tel*/
.common-find-goods-tel{height:215px;width:188px;float:left;position: relative;}
.common-find-goods-tel .tel-top{width:183px;height:57px;text-align:center;background: pink;
	background:url(../imagesv4/tel_top.jpg) no-repeat;margin-top:15px;color:#f60;background-position:center;}
.common-find-goods-tel .tel-top h2{font-size:18px;font-weight:normal;line-height:26px;width: 165px;color:#e93524}
.common-find-goods-tel .tel-top h2:last-child{font-size:24px;font-family:arial;color:#f64400}
.common-find-goods-tel .tel-bottom{text-align:center;}
.common-find-goods-tel .tel-bottom img{width: 103px;height: 107px;margin-top:-4px}
.goods-left-line{position: absolute;right: -8px;top: 10px;width: 1px;height: 90%;}

.tel-bottom-submit{display:inline-block;width:183px;height:36px;background:#f60;color:#fff;text-align:center;cursor:pointer;font-size:16px;line-height:36px;margin-top:-8px}
.tel-bottom-submit:hover{color:#fff;}
/*电话tel end*/





/*找金融*/
.common-find-fiance-con{float:right;height:215px;margin-left:15px;;position:relative;background:url(../imagesv4/list.jpg) no-repeat 0px left;}
.fiance_topline{position: absolute;top:0;left:0;height:2px;background:#f60;width:200px}
.common-find-fiance-con .common-find-tip{background:#fff;color:#f60}
.common-find-fiance-con .common-find-tip h2{border-bottom:2px solid #f60}
.common-find-fiance-con .fiance-tip-wrap_zjr{
	position: absolute;left:0;top:133px;width:100%;height:82px;background:#f60;
}



.common-find-fiance-con .fiance-tip-wrap_zjr:hover .fiance-tip-box_zjr{
	background:#f60 url(../imagesv4/tip_box.png) no-repeat 114px center;
	display:inline-block;
}

.common-find-fiance-con .fiance-tip-box_zjr{
	color:#fff;
	width:138px;
	height:26px;
	display: block;
	line-height:26px;
	font-size:14px;
	border:2px solid #fff;
	padding-left:10px;
	background:url(../imagesv4/tip_box.png) no-repeat 114px center;
	margin:0 15px;
	margin-bottom:2px;
}
.fiance-tip-wrap_zjr .box_gylrz{margin-top:10px}
.common-find-fiance-con .fiance-tip-wrap_zjr:hover{background:#f60;}
/*非本功能期间颜色*/
.find-off{background:#fff;color:#ff6600}
.find-bottom-off{background:#ff6600;color:#fff}


/*这个是选项 公共*/
.fiance_div_radio{height:36px;line-height:36px}
.fiance_radio{cursor:pointer;display:inline-block;height:15px;line-height:15px;background:url(../imagesv4/zhao_dian.png) no-repeat left top;padding-left:18px;margin-right:16px;color:#999;font-size:12px}
.fiance_radio_on{background:url('../imagesv4/zhao_dian.png') no-repeat left bottom}
.fiance_radio_last{margin:0}
.fiance_col2{padding-top:46px}
.input_error{outline:1px solid #f60;}
.input_outnone{outline:none}
.common-find-con .outshow{outline:#999}
.find-fiance-form{display:none;position: relative;height:176px;margin-left:434px;padding:20px 0}
.laydate-icon{cursor:pointer;}

.common-find-con .find-fiance-form .fiance_form_col_last{margin-right:0}
.fiance_form_div .fiance_input{width:170px;height:30px;line-height:30px;background:#f2f2f2;border:none;padding:3px 41px 3px 24px}
.fiance_form_div .fiance_input:last-child{margin-bottom:0}
.fiance_form_div .fiance_input:focus{outline:1px solid #999;background:#fff}
/*金融的form表单  供应链融资(默认)*/

.gylrz .fiance_form_col{width:235px;float: left;margin-right:20px}
.gylrz	.fiance_form_div{margin-bottom: 10px;position: relative;}
.gylrz	.fiance_form_div i{position: absolute;left: 10px;top: 10px;font-size: 17px;color: #f60;font-style: normal;}
.gylrz	.fiance_form_div b{-webkit-user-select:none;position: absolute;right: 10px;top: 6px;font-size: 14px;color: #3c3c3c;font-style: normal;font-weight:normal;}
.gylrz-bottom-submit{display:inline-block;width:235px;height:36px;background:#f60;color:#fff;text-align:center;cursor:pointer;font-size:16px;line-height:36px;}
.gylrz-bottom-submit:hover{color:#fff;}


/*E商贷*/
.esd_form .fiance_form_col{width:235px;float: left;margin-right:20px}
.esd_form	.fiance_form_div{margin-bottom: 10px;position: relative;}
.esd_form	.fiance_form_div i{position: absolute;left: 10px;top: 10px;font-size: 17px;color: #f60;font-style: normal;}
.esd_form	.fiance_form_div b{-webkit-user-select:none;position: absolute;right: 10px;top: 6px;font-size: 14px;color: #3c3c3c;font-style: normal;font-weight:normal;}
.esd-bottom-submit{display:inline-block;width:235px;height:36px;background:#f60;color:#fff;text-align:center;cursor:pointer;font-size:16px;line-height:36px;}
.esd-bottom-submit:hover{color:#fff;}

/*E商贷*/
.yezhudai_form .fiance_form_col{width:235px;float: left;margin-right:20px}
.yezhudai_form	.fiance_form_div{margin-bottom: 10px;position: relative;}

.yezhudai_form	.fiance_form_div i{position: absolute;left: 10px;top: 10px;font-size: 17px;color: #f60;font-style: normal;}
.yezhudai_form	.fiance_form_div b{-webkit-user-select:none;position: absolute;right: 10px;top: 6px;font-size: 14px;color: #3c3c3c;font-style: normal;font-weight:normal;}
.yezhudai-bottom-submit{display:inline-block;width:235px;height:36px;background:#f60;color:#fff;text-align:center;cursor:pointer;font-size:16px;line-height:36px;}
.yezhudai-bottom-submit:hover{color:#fff;}








/*1F */
.ind-cdhy{width:1190px;height:520px; overflow:hidden;}
.ind-cdhy-title{width:1192px; height:40px; line-height:40px;}
.ind-cdhy-title h2{width:200px;height:40px;font-size:20px;float:left;line-height:40px;color:#3c3c3c;font-weight:normal;}
.ind-cdhy-title h2 i{width:4px;height:20px;background:#f60;float:left;margin-top:10px;margin-right:10px;}
.ind-cdhy-title ul{height:40px;max-width:720px;float:right;overflow: hidden;}
.ind-cdhy-title ul li{width:auto;height:40px;font-size:14px;color:#999;padding:0px 10px;float:left;background:url(../imagesv4/li_rfbg.jpg) no-repeat right 12px; }
.ind-cdhy-title ul li:last-child{background:none;}
.ind-cdhy-con{width:1190px;height:480px;overflow:hidden;}
.ind-cdhy-con-lf{width:226px;height:480px;float:left;background:#f2f2f2;overflow:hidden;position:relative;}
.ind-cdhy-con-lf-img{width:226px;height:480px;overflow:hidden;}
.ind-cdhy-con-lf-img a{width:226px;height:480px;overflow:hidden;}
.ind-cdhy-con-lf-img img{width:100%;height:100%;border:none;
	transition:All 0.4s ease-in-out;
	-webkit-transition:All 0.4s ease-in-out;
	-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;
}
.ind-cdhy-con-lf-img a:hover{margin-left: -3px;transition:0.2s;}

.ind-cdhy-con-lf-text{position:absolute;top:20px; left:10px;	}
.ind-cdhy-con-lf-text span{width:57px;font-size:14px;height:30px;line-height:30px;color:#999;border-bottom:2px solid #ff7300;display:block;}
.ind-cdhy-con-lf-text p{font-size:16px;color:#3c3c3c;line-height:27px;margin-top:20px;height: 51px;
	overflow: hidden;}
.ind-cdhy-con-lf-text a{width:86px; height:22px;margin-top:20px;line-height:22px;background:url(../imagesv4/icon.png);display:inline-block; color:#fff;text-align:center;
	border-radius:15px;}
.ind-cdhy-con-rf{width:964px;height:480px;float:right;overflow:hidden;}
.ind-cdhy-con-rf ul li{width:226px;height:232px;background:#f2f2f2;float:left; margin:0px 0px 15px 15px;}
.ind-cdhy-con-rf ul li .ind-cdhy-con-rf-img{width:155px;height:155px;margin:0 auto;padding:10px 36px;display:table-cell;text-align:center;vertical-align:middle;}
.ind-cdhy-con-rf ul li .ind-cdhy-con-rf-img span{width:155px;height:155px; overflow:hidden;}
.ind-cdhy-con-rf ul li .ind-cdhy-con-rf-img img {max-width:155px; max-height:155px;width:100%;height:100%;}
.ind-cdhy-con-rf ul li .ind-cdhy-con-rf-img img {transition:all 0.2s ease 0s;-moz-transition:all 0.2s ease 0s;-webkit-transition:all 0.2s ease 0s;-o-transition:all 0.2s ease 0s;}
.ind-cdhy-con-rf ul li:hover .ind-cdhy-con-rf-img img{
	transform:scale(1.1);-moz-transform:scale(1.1);-webkit-transform:scale(1.1);-o-transform:scale(1.1);}
.ind-cdhy-con-rf-text{width:156px;height:60px; padding:0px 36px;background:#f2f2f2; margin:0 auto;overflow: hidden;}
.ind-cdhy-con-rf-text p{width:156px;height:28px;overflow:hidden; padding-top:4px;}
.ind-cdhy-con-rf-text p a{font-size:14px;color:#3c3c3c;line-height:28px;}
.ind-cdhy-con-rf-text span{width:156px;height:24px;line-height:24px;display: block;font-size:14px;color:#f64400;text-align:center;}
.ind-cdhy-con-rf ul li:hover .ind-cdhy-con-rf-text{background:#f60;}
.ind-cdhy-con-rf ul li:hover .ind-cdhy-con-rf-text p a,.ind-cdhy-con-rf ul li:hover .ind-cdhy-con-rf-text span{color:#fff;}

/*产地货源end*/
.ind-zrcyd{width:1190px;height:280px; overflow:hidden;}
.ind-cdhy-title a{height:40px;font-size:14px;float:right; color:#999;}
.ind-cdhy-title a:hover{ color:#f60;}
.ind-zrcyd-con{ width:1190px; height:243px;overflow:hidden;}
.ind-zrcyd-con ul{width:1205px;}
.ind-zrcyd-con ul li{width:226px;height:240px;float:left;overflow:hidden; margin-right:15px;}
.ind-zrcyd-con ul li img{width:226px;height:240px;}


/* .por{position: relative;}
.scroll_top1{position: absolute;top:1040px;}
.scroll_top2{position: absolute;top:1480px;}
.scroll_top3{position: absolute;top:1157px;}
.scroll_top4{position: absolute;top:1157px;}
 */
/*1f end*/

.cont02_03{width: 100%;height: auto; background:#f2f2f2; }
/* 2f 行业货源  wj */
.homePage_hyhy{width: 100%;height:auto;background: #f2f2f2;overflow: hidden;}
.homePage_hyhy_title{width: 1190px; height: 40px; line-height: 40px;margin-top: 20px;}
.homePage_hyhy_title h2{width: 200px;height: 40px;font-size: 20px;float: left;
	line-height: 40px;color: #3c3c3c;font-weight: normal;}
.homePage_hyhy_title h2 i{width:4px;height:20px;background:#536bb2;float:left;margin-top:10px;margin-right: 10px;}


.homePage_hyhy_cont{width: 100%;height:auto; overflow: hidden; }
.homePage_hyhy_cont ul{width: 1210px;height: auto;}

.homePage_hyhy_cont ul li{width: 585px;height: 366px;margin:0 20px 22px 0;background: #fff;}

/* 左边 */
.hyhy_left{width: 200px;height: 366px;background: #fafafa;}

.hyhy_left_top{width: 100%;height: 100px;overflow: hidden;margin-bottom: 24px;}

.hyhy_left_food{width: 130px;height: 34px;font-size: 16px;height: 34px;line-height: 34px;text-align: center;color: #fff;
	background: url(../imagesv4/hyhy_namebg.png) no-repeat center;margin:38px 0 6px 35px; }

.hyhy_left_food:hover{color: #fff !important;}

.hyhy_type_tit01{background: url(../imagesv4/hyhy_namebg01.png) no-repeat center;}
.hyhy_type_tit02{background: url(../imagesv4/hyhy_namebg02.png) no-repeat center;}
.hyhy_type_tit03{background: url(../imagesv4/hyhy_namebg03.png) no-repeat center;}
.hyhy_type_tit04{background: url(../imagesv4/hyhy_namebg04.png) no-repeat center;}
.hyhy_type_tit05{background: url(../imagesv4/hyhy_namebg05.png) no-repeat center;}
.hyhy_type_tit06{background: url(../imagesv4/hyhy_namebg06.png) no-repeat center;}


.hyhy_left_top a{width: 100%;font-size: 12px;height: 22px;line-height: 22px;color: #f60;
	display: block;text-align: center;overflow: hidden;}
.hyhy_left_top a:hover{text-decoration: underline;}


.food_logoimg{width: 200px;height: 242px;display: block;overflow: hidden;}
.food_logoimg img{width: 100%;height: 100%;}

/* 中间 */
.hyhy_center{width: 230px;height: 366px;overflow: hidden;}

.hyhy_center_type{width: 190px;height: 80px;padding: 0 20px;overflow: hidden;}
.mt12{margin-top: 12px;}
.mt10{margin-top: 10px;}
.mt02{margin-bottom: 2px;}
.font_red{color:#f64400;}

.hyhy_center_type_tit{font-size: 14px;color: #3c3c3c;height: 24px;line-height: 24px;display: block;}
.hyhy_center_type_tit:hover{color: #3c3c3c !important;}
.hyhy_center_type p{width: 100%;height: 40px;overflow: hidden;margin-bottom: 12px;}

.hyhy_center_type p a{width: auto;height: 20px;line-height: 20px;display: inline-block;white-space:nowrap;
	margin:0 10px 0 0;}

.col_line{width: 100%;height: 1px;border-bottom: 1px dashed #e6e6e6;display: block;}


/* 右侧 */
.hyhy_right{width:155px;height: 366px;overflow: hidden;}
.hyhy_right_top ,.hyhy_right_bottom{width: 160px;height: 182px;display: block; cursor: pointer;overflow: hidden; position: relative;}
.hyhy_right_top img,.hyhy_right_bottom img{width: 100%;height: 100%; position: absolute;left: 0;top: 0;}

.hyhy_right_top_tit{width: 155px;height: 182px;position: absolute;left: 15px;top: 12px;z-index: 50;}

.hyhy_right_top_tit{width: 130px;height: 30px;line-height: 30px;}

.hyhy_right_top_tit strong{color: #fd4e00;font-weight: bold;font-size: 20px;}
.hyhy_right_top_tit .font_20{color: #3c3c3c;font-size: 20px;display: block;}
.hyhy_right_top_tit .font_12{color: #999;font-size: 12px;height: 20px;line-height: 20px;display: block;}


.hyhy_right_top_tit_line{width: 20px;height: 2px;background: #ff7300;position: absolute;left: 0;top: 56px;}
/* 点击展开更多 */
.homePage_hyhy_more_bg{width: 100%;height: 16px;line-height: 16px;
	background: url(../fodder/homePage_hyhy_more_bg.png) no-repeat;}


.homePage_hyhy_more{width: 110px;height: 16px;line-height: 16px;
	display: block;position: relative;margin:auto;cursor: pointer;}
.homePage_hyhy_more span{font-size: 14px;color: #666;height: 16px;line-height: 16px;display:block;}

.homePage_hyhy_more i{width: 15px;height: 16px;position: absolute;left:93px;top: 0;
	background: url(../fodder/hyhy_more_bottom.png) no-repeat center;}

.more_ul{display: none;}

/*直达号*/
.show_tips {
	position: absolute;
	display: none;
	height: 22px;
	text-align: center;
	line-height: 22px;
	top: 0;
	left: 0;
	border: 1px solid #f64400;
	border-bottom: none;
	background: #fff;
	z-index: 10;
	overflow: hidden;
	z-index: 999999;
}

.show_tips a {
	color: #f64400;
	text-decoration: none;
}

.show_tips_company {
	display: none;
	line-height: 22px;
	border: 1px solid #f64400;
	position: absolute;
	top: 0;
	left: 0;
	padding: 4px;
	background: #fff;
	z-index: 999998;
}
.show_tips_a {
	display: block;
	background: url(../imagesv4/tips-bg11.png) #fff9bf no-repeat 0 0;
	height: 22px;
	line-height: 22px;
	padding-right: 4px;
	color: #0088cc !important;
}

.show_tips_a s {
	width: 46px;
	padding-right: 12px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	display: inline-block;
}
/*直达号 end*/

/*  2f 广告 */
.homePage_hyhy_ad{width:1190px;height:90px;display: block;margin:20px auto 0;}
.homePage_hyhy_ad a{width: 100%;height:90px;display: block; margin:auto;}
.homePage_hyhy_ad img{width: 100%;height: 100%;}
/* 2f 行业货源 end  wj */
/* 3f 网库特选  wj */
.homePage_wktx{width: 100%;height:auto;background: #f2f2f2;overflow: hidden;padding-top: 20px;}
.homePage_wktx_title{width: 1190px; height: 40px; line-height: 40px;}
.homePage_wktx_title h2{width: 200px;height: 40px;font-size: 20px;float: left;
	line-height: 40px;color: #3c3c3c;font-weight: normal;}
.homePage_wktx_title h2 i{width:4px;height:20px;background:#00cc99;float:left;margin-top:10px;margin-right: 10px;}


.homePage_wktx_cont{width: 100%;height:auto; overflow: hidden; }
.homePage_wktx_cont .w1210{width: 1210px;height: auto;}

.homePage_wktx_cont .w1210 >div{width: 586px;height: 420px;margin:0 18px 20px 0;background: #fff;}

.wktx_left{width:226px;height: 420px;background: #fafafa;position: relative;overflow: hidden;}
.wktx_bigtit01{width: 205px;height: 90px;position: absolute;left: 0;top: 0;z-index: 50;padding: 24px 0 0 21px;}
.wktx_bigtit01 p{width: 100%;height: 30px;line-height: 30px;text-align: left;color: #974f75;font-size: 24px;overflow: hidden;}

.wktx_bigtit01 .font_14_Eng{width: 100%;height: 24px;line-height: 24px;font-size: 14px;display: block;color:#bf80a1;overflow: hidden;}
.wktx_bigtit01 .font_14_Cha{width: 100%;height: 24px;line-height: 24px;font-size: 14px;display: block;color:#974f75;overflow: hidden;}


/* 3f lunbo */
.slideShow{width: 226px;height: 420px;position: relative;overflow: hidden;}
.slideShow  ul{position: relative;width: 2000px;}
.slideShow li{width: 226px;height: 420px;float: left;}

.slideShow .showNav{height: 12px; position: absolute; left: 78px; bottom: 10px;margin: auto;
	overflow: hidden; z-index: 1;}

.slideShow .showNav span{width: 12px;height: 12px;font-size: 0;margin-right:10px; cursor: pointer;
	background:url(../fodder/wktx_num_bg.png) no-repeat center top; float: left;}

.slideShow .showNav .active{background:url(../fodder/wktx_num_bg.png) no-repeat center bottom;}

.wktx_prev{width: 25px;height: 40px;position: absolute;left: 0;top: 190px;cursor: pointer;
	background: url(../fodder/wktx_prev_img.png) no-repeat center top;}
.wktx_prev:hover{background: url(../fodder/wktx_prev_img.png) no-repeat center bottom;}

.wktx_next{width: 25px;height: 40px;position: absolute;right: 0;top: 190px;cursor: pointer;
	background: url(../fodder/wktx_next_img.png) no-repeat center top;}
.wktx_next:hover{background: url(../fodder/wktx_next_img.png) no-repeat center bottom;}
/* 3f lunbo end*/

.wktx_bigimg01{width: 226px;height: 420px;display: block;}
.wktx_bigimg01 img{width: 100%;height: 100%;}

.wktx_right{width: 360px;height: 420px;background: #fff;}

.wktx_right_top_all{width: 360px;height: 285px;overflow: hidden;}
.wktx_right_top{width: 180px;height: 285px;overflow: hidden;position: relative;}

.wktx_right_top p{width:180px;height: 114px;overflow: hidden;position: absolute;left: 0;top: 0;z-index: 50;}
.wktx_right_top .font_20{width: 100%;height: 32px;line-height: 32px;margin-top: 28px;
	font-size: 20px;text-align: center;display: block; color: #606060;overflow: hidden;}

.wktx_right_top .font_16{width: 100%;height: 26px;line-height: 26px;
	font-size: 16px;text-align: center;display: block; color: #999;overflow: hidden;}

.wktx_right_top_img{width: 180px;height: 285px;display: block;position: absolute;left: 0;top: 0;}
.wktx_right_top_img img{width: 100%;height: 100%;}


.wktx_right_bottom_all{width: 350px;height: 134px;border-top: 1px solid #eee;background: #fff;overflow: hidden;margin: 0 5px;}

.wktx_right_bottom{width: 90px;height: 134px;position:relative;overflow: hidden;float: left;}
.wktx_right_bottom_img{width: 90px;height: 134px;position: absolute;left: 0;top: 0;}

.wktx_right_bottom span{width: 100%;height: 14px;line-height: 14px;font-size: 12px;text-align: center;overflow: hidden;
	position: absolute;left: 0;bottom: 15px; color: #974676;}

.ml18{margin-left: 18px;}
.mr27{margin-right: 27px;}

/*  3f 广告 */
.homePage_wktx_ad{width:1190px;height:90px;display: block;margin:0 auto 20px;}
.homePage_wktx_ad a{width: 100%;height:90px;display: block; margin:auto;}
.homePage_wktx_ad img{width: 100%;height: 100%;}

/* 3f 网库特选  end wj */


/*4f*/
.ind-o2o-spty{width:1190px;height:420px;}
.ind-o2o-spty-con{width:1190px;height:378px;}
.ind-o2o-lf{width:250px;height:363px;float:left; background:#fafafa;padding:15px; padding-top:0px}

.ind-o2olf-title{ width:250px;height:40px;line-height:40px; border-bottom:1px solid #eee;margin-bottom:15px;}
.ind-o2olf-title h3{ width:80px;height:39px;border-bottom:2px solid #f60;font-size:18px;color:#3c3c3c; font-weight:normal;float:left;}
.ind-o2olf-title a{ float:right;display:inline-block; font-size:14px;line-height:39px; color:#3c3c3c;}
.ind-o2olf-title a:hover{ color:#f60;}
.ind-o2o-lf-con{ width:250px; height:313px;overflow:hidden;}
.ind-o2o-lf-con ul{padding-top:0px;}
.ind-o2o-lf-con ul li{width:100%;height:38px;line-height:38px;font-size:14px; color:#606060;display:block;
	border-bottom:1px dashed #eee;overflow: hidden;}
.ind-o2o-lf-con ul li span{width:60px;height:38px;overflow: hidden;text-align:right; padding-left:20px;}

/*预约列表 end */
.ind-o2o-map{width:630px;height:378px; float:left;}

/*map end*/
.ind-o2o-ztyg{width:248px;height:363px;float:right;background:#fafafa;padding:15px; padding-top:0px;}
.ind-o2o-ztyg-con{width:248px;height:313px;overflow:hidden;}
.ind-o2o-ztyg-con dl{width:248px;height:100px;border-bottom:1px dashed #eee;margin-bottom:10px;}
.ind-o2o-ztyg-con dl dt{width:115px;height:86px;float:left;overflow:hidden;}
.ind-o2o-ztyg-con video::-webkit-media-controls {display:none !important;}
.ind-o2o-ztyg-con dl dt img{width:115px;height:86px;overflow:hidden;}
.ind-o2o-ztyg-con dl dd{width:123px; height:86px;float:right;overflow:hidden;}
.ind-o2o-ztyg-con dl dd a{width:123px;height:48px;line-height:24px;
	overflow:hidden;font-size:14px;color:#3c3c3c;display:block;font-weight: bold;
}
.ind-o2o-ztyg-con dl dd a:hover{color: #f60;}
.ind-o2o-ztyg-con dl dd p{width:123px; height:30px;overflow:hidden;line-height:15px;text-overflow:ellipsis;white-space:nowrap;}
.ind-o2o-ztyg-con dl dd span{width:123px;height:30px;display:block;padding-left:20px;background:url(../imagesv4/llicon.png) no-repeat 2px 10px;font-size:14px;
	color:#68acf5;line-height:30px;}

.ind-tl-img{width:1190px;height:90px;overflow:hidden;}
.ind-tl-img img{width:1190px;height:90px;overflow:hidden;}

.ind-jrds{width:385px;height:335px;overflow:hidden; margin-right:17px;float:left;}
.ind-jrds-title{width:1190px; height:40px; line-height:40px;}
.ind-jrds-title h2{width:200px;height:40px;font-size:20px;float:left;line-height:40px;color:#3c3c3c;font-weight:normal;}
.ind-jrds-title h2 i{width:4px;height:20px;background:#b76a2a;float:left;margin-top:10px;margin-right:10px;}
.ind-jrds-title a{height:40px;font-size:14px;float:right; color:#3c3c3c;}
.ind-jrds-title a:hover{ color:#f60;}
.ind-jrds-img{width:385px;height:208px;overflow:hidden;}
.ind-jrds-img img{width:385px;height:208px;overflow:hidden;}
.ind-w1210{width:1210px;}
.ind-jrds ul{width:385px;height:75px;overflow:hidden;margin-top:10px;}
.ind-jrds ul li{height:26px;line-height:26px;font-size:12px;}
.ind-jrds ul li span{float:left;color:#f60;width:35px;overflow:hidden;}
.ind-jrds ul li a{float:left;width:340px;height:26px;display:block;overflow:hidden;	}

/*4f end*/

.ind-dsws{width:1190px;height:270px;overflow:hidden;}
.zxzt_list {width:1210px}
.zxzt_list li {width:385px;height:220px;float:left;margin-bottom:10px;margin-right:17px;}
.zxzt_list li a {display:block;position:relative;}
.zxzt_list li a span {background:url("../imagesv4/black_bg2.png") repeat scroll 0 0;bottom:0;color:#fff;height:40px;left:0;line-height:20px;position:absolute;right:0;
	text-align:left;}
.zxzt_list li a span p:first-child{width:130px;height:22px;background:url("../imagesv4/dsws_bg.png") no-repeat scroll 0 0;top:-148px;color:#666;left:10px;line-height:22px;
	position:absolute;padding-left:10px;overflow:hidden;}
.zxzt_list li a span p:first-child em{color:#fff;margin-right:19px;}
.zxzt_list li a span p:first-child+p{width:365px;height: 24px;overflow: hidden;}
.zxzt_list li a span p:first-child+p+p{width: 365px;height: 24px;overflow: hidden;}
.zxzt_list li a span{padding:10px 10px;}
.btnplay {background:url("../imagesv4/black_bg.png") repeat scroll center center;display:none;height:100%;left:0;position:absolute;top:0;width:100%;}
.btnplay div {background:url("../imagesv4/btnplay.png") repeat scroll center center;height:60px;margin-left:84px;margin-top:49px;width:60px;}
.zxzt_list .btnplay div {left:50%;margin-left:-30px;margin-top:-30px;position:absolute;top:50%;}
.show {display:block;}
.hide {display:none;}
.no_marginBottom {margin-bottom:0px;}
/*5f end*/

.ind-hdp{width:1190px;height:310px;overflow:hidden;}
.ind-hdp-con{width:1210px;height:270px;}
.ind-hdp-con ul{width:1190px;position:relative;}
.ind-hdp-con ul li{float:left;}
.ind-hdp-con ul li:first-child{width:385px;height:270px;overflow:hidden;margin-right:17px;}
.ind-hdp-con ul li:first-child img{width:385px;height:270px;overflow:hidden;}
.ind-hdp-con ul li:first-child+li{width:250px;height:125px;overflow:hidden;margin-right:17px;margin-bottom:17px;}
.ind-hdp-con ul li:first-child+li img{width:250px;height:125px;overflow:hidden;}
.ind-hdp-con ul li:first-child+li+li{width:250px;height:125px;overflow:hidden;position:absolute;left:402px;top:142px;margin-right:17px;}
.ind-hdp-con ul li:first-child+li+li img{width:250px;height:125px;overflow:hidden;}
.ind-hdp-con ul li:first-child+li+li+li{width:254px;height:270px;overflow:hidden;margin-right:17px;}
.ind-hdp-con ul li:first-child+li+li+li img{width:254px;height:270px;}
.ind-hdp-con ul li:first-child+li+li+li+li{width:250px;height:125px;overflow:hidden;position:absolute;right:0px;top:0px;}
.ind-hdp-con ul li:first-child+li+li+li+li img{width:250px;height:125px;overflow:hidden;}
.ind-hdp-con ul li:first-child+li+li+li+li+li{width:250px;height:125px;overflow:hidden;position:absolute;right:0px;top:142px;}
.ind-hdp-con ul li:first-child+li+li+li+li+li img{width:250px;height:125px;overflow:hidden;}

.ind-zrcyd-con li,.ind-hdp-con li{transition:All 0.4s ease-in-out;-webkit-transition:All 0.4s ease-in-out;-moz-transition:All 0.4s ease-in-out;
	-o-transition:All 0.4s ease-in-out;}
.ind-zrcyd-con li:hover,.ind-hdp-con li:hover{transform:translate(0,-5px);-webkit-transform:translate(0,-5px);-moz-transform:translate(0,-5px);
	-o-transform:translate(0,-5px);-ms-transform:translate(0,-5px);}

/*6f end*/

/* 7f 热搜榜  wj */
.homePage_rsb{width: 100%;height:auto;background: #f2f2f2;overflow: hidden;}
.homePage_rsb_title{width: 1190px; height: 40px; line-height: 40px;margin-top: 20px;}
.homePage_rsb_title h2{width: 200px;height: 40px;font-size: 20px;float: left;
	line-height: 40px;color: #3c3c3c;font-weight: normal;}
.homePage_rsb_title h2 i{width:4px;height:20px;background:#f60;float:left;margin-top:10px;margin-right: 10px;}


.homePage_rsb_cont{width: 100%;height:auto; overflow: hidden; }
.homePage_rsb_cont ul{width: 1210px;height: auto;}

.homePage_rsb_cont ul li{width: 222px;height: 310px;margin:0 20px 20px 0;background: #fff;cursor: pointer;}

.rsb_cp{width: 222px;height: 222px;background: #fff;display: block;overflow: hidden;}
.rsb_cp img{width: 222px;height: 222px;display: block;}

.homePage_rsb_cont ul li:hover .rsb_cp img{width: 220px;height: 220px;display: block;margin:1px auto;}

.rsb_text{width: 202px;height: 70px;background: #fff;padding:5px 10px 15px 10px;}

.rsb_money{width:100%;height: 32px;line-height: 32px;color: #f60;font-size: 14px;display: block; }

.rsb_cp_name{width:100%;max-height: 40px;line-height: 22px;color: #606060;overflow: hidden;}
/* .rsb_gs_name{width:100%;height: 30px;line-height: 30px;color: #606060;font-size: 12px;display: block; }
 */
.homePage_rsb_cont ul li:hover .rsb_text{background: #f60;}
.homePage_rsb_cont ul li:hover .rsb_money{color: #fff;}
.homePage_rsb_cont ul li:hover .rsb_cp_name{color: #fff;}
/* .homePage_rsb_cont ul li:hover .rsb_gs_name{color: #fff;} */

/*  7f 广告 */
.homePage_rsb_ad{width:1190px;height:90px;display: block;margin:0 auto 30px;}
.homePage_rsb_ad a{width: 100%;height:90px;display: block; margin:auto;}
.homePage_rsb_ad img{width: 100%;height: 100%;}

/* 7f 热搜榜  wj  end*/
/* 页面右侧 wj*/
.l-AD {width: 54px;height: 54px;position:fixed;right: 0;bottom: 172px;cursor: pointer;
	background: url(../imagesv4/click.jpg) no-repeat  center top;}
.l-AD:hover{background: url(../imagesv4/click_hover.jpg) no-repeat  center top;}
/*在线客服，在线留言*/
.l-service, .l-message, .l-top { position: fixed; z-index: 100; right: 0; width: 54px; }
.l-service { bottom: 118px; height: 54px; }
.l-message { bottom: 64px; height: 54px }
.l-top { bottom: 65px; height: 54px; }
.l-service a.a, .l-message a, .l-top { display: block; height: 54px; width: 54px; }
.l-message a { height: 53px; }
.l-service a.a { width:54px; height:54px; background:url(../imagesv4/zhujian01.png) no-repeat;}
.l-message a {  width:54px; height:54px; background:url(../imagesv4/zhujian01.png) no-repeat 0px -64px;}
.l-top a { display:block; width:54px; height:54px; background:url(../imagesv4/zhujian01.png) no-repeat 0px -128px;}
.l-service a.a:hover, .l-service.on a.a { background:url(../imagesv4/zhujian01.png) no-repeat -64px 0px; }
.l-message a:hover, .l-message.on a { background:url(../imagesv4/zhujian01.png) no-repeat -64px -64px; }
.l-top a:hover, .l-top.on a { background:url(../imagesv4/zhujian01.png) no-repeat -64px -128px; }
.service_rcon_t .s_qq { margin-top: 6px; }
/*在线留言 弹框*/
.adcDtl { background: #f8f8f8; color: #757575; border: 1px solid #e6e6e6; padding: 0 10px 20px 10px; width: 300px; position: fixed; z-index: 110000; right: -324px; bottom: 10px }
.adcDtl h3 { line-height: 44px; color: #757575; font-family: Microsoft Yahei; font-size: 16px; font-weight: normal; }
.adcDtl p { color: #757575; }
.oadcTxt { height: 190px; width: 278px; padding: 10px; border: 1px solid #e6e6e6; resize: none; overflow: hidden; }
.adcP { text-align: right; color: #3c3c3c; }
.adcP em { color: #f60; }
.adcIpt { height: 28px; border: 1px solid #e6e6e6; line-height: 28px; width: 228px; padding: 0 5px; }
.tckCls { background: url(../imagesv4/order_closebtn.png) no-repeat scroll left top; cursor: pointer; display: inline-block; float: right; height: 21px; margin-top: 10px; width: 21px; }
.tckCls:hover { background-position: left bottom; }
/*在线客服 弹框*/
.l-S-pop { width: 193px; border: 1px solid #e6e6e6; background-color: #FFF; position: fixed; bottom: 63px; right: -360px;z-index: 99999; }
.l-S-pop-bt { height: 43px; color: #f64400; padding-top: 6px; background: #f8f8f8 url(../imagesv4/l-sadd.gif) no-repeat 8px center; border-bottom: 1px solid #e6e6e6; padding-left: 58px; }
.l-S-pop-bt span { font-size: 16px; display: inline-block; }
.service_rcon_t { border-bottom: 1px dashed #dfdfdf; padding-bottom: 10px; margin-left: 5px; margin-right: 5px }
.service_rcon_t ul.list_top { padding-top: 4px }
.service_rcon_t ul.list_top li { height: 25px; line-height: 25px; margin-top: 4px; }
.service_rcon_t ul.list_bottom li { height: 26px; line-height: 26px; }
.service_rcon_t ul li img { margin: 0; float: left; display: inline; }
.service_rcon_t ul li span { float: left; width: 65px; text-align: right; }
.service_rcon_t ul li a { float: left; }
.service_rcon_t ul li a img { vertical-align: middle }
.service_rcon_t ul li a em { color: #757575; }
.service_rcon_b { margin: 3px 8px; }
.service_rcon_b li { height: 28px; line-height: 28px; }
.service_rcon_t ul li img.mt3 { margin-right: 6px; }

.message_btn {width: 128px; height: 28px;line-height: 28px;margin: 5px auto 10px;border: 1px solid #e8380d;
	background: #f64400 ;color: #fff;font-size: 14px;text-align: center;display: block;}

.message_btn:hover { background: #ac2f00;border: 1px solid #a22709;color: #b2b2b2; text-decoration: none;color: #fff !important;}

.fudong-animate {width: 100%;height: 85px;position: fixed;left: 0; bottom: 0;z-index: 999999;
	background-color: #ef3244; }
.fudong-animate .animate-wrap { width: 1190px;height: 85px;margin: 0 auto;position: relative;}

.fudong-animate .animate-wrap img {width: 1190px; height: 85px;}
.fudong-animate .animate-wrap i {width: 13px;height: 13px;position: absolute;right: 10px; top: 10px;
	background: url(../imagesv4/fudong_animate_close.png) no-repeat  center ;cursor: pointer;}
/* 页面右侧  wj end*/

/* 左侧楼层 */
.f-floating{width: 40px;height: 328px;background: #fff;overflow: hidden;position:fixed;margin-left:-80px;top: 400px;display: none;}

.f-floating ul li{width: 40px;height: 40px;background: #928b87;margin-bottom: 1px; text-align: center;line-height: 55px;
}

.f-floating ul li span{width: 24px;height: 32px;line-height: 16px;display:inline-block;color: #fff;text-align: center;cursor: pointer;}
.pad08{padding: 4px 8px;}
.pad09{padding: 4px 0px; font-size: 12px;width: 36px !important;}
.f-floating ul li .wid40{width: 40px;height:40px;line-height:40px;text-align: center;display: block;}

.f-floating ul li:hover{background:#f60;}
.f-floating ul li:hover span{color: #fff !important;}

.f-floating ul .on{background: #f60;}

.f-floating .top_banner{width: 40px;height: 40px;background: #564b44;display: block;line-height: 30px;text-align: center;color: #fff;position: relative;}
.f-floating .top_banner:hover{color: #fff !important;}

.f-floating .bottom_san{width: 8px;height: 4px;position: absolute;left: 15px;top: 28px;
	background: url(../fodder/bottom_san.png) no-repeat center;}
/* 左侧楼层 end */

/* css3 wj */
.hyhy_left:hover .food_logoimg img{margin-left: -3px;transition:0.35s;}

.hyhy_right_top:hover img ,.hyhy_right_bottom:hover img{left: -3px;transition:0.35s;}

.wktx_right_bottom_img:hover{left:-3px;transition:0.2s;}

.wktx_right_top_img:hover img{margin-left: -3px;transition:0.2s;}

/* map wuxiao */
/* map wuxiao */
#mapWrap {
	width: 628px;
	height: 376px;
	position:relative;;
	overflow: hidden;
	border: 1px solid #FAFAFA;
}
#map {
	width: 900px;
	height: 600px;
	position: absolute;
	left: -150px;
	top: -100px;
	z-index: 8;
}
.boardProxy {
	width: 329px;
	height: 213px;
	visibility: hidden;
}
.DPN {display: none !important;}
#infoBoard {
	position: absolute;
	display: none;
	width: 322px;
	height: 206px;
	padding: 1px 0 0 1px;
	border: 3px solid #F8F8F8;
	background-image: url(../imagesv4/board-bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	z-index: 10;
	pointer-events: auto;
}
#infoBoard > ul {width: 100%;height: 100%;}
#infoBoard > ul > li {width: 100%;height: 100%;}
#infoBoard p {color: #fff;font-size: 14px;height: auto;min-height: 22px;line-height: 22px;margin-left:
		11px;padding-right: 10px;}
#infoBoard .name {font-size: 18px;margin-top: 9px;}
#infoBoard .address {margin-top: 10px;}
#infoBoard a {width: 64px;height: 21px;line-height: 21px;display: block;float: left;border: 1px solid rgba(
		221, 221, 221, 0.5 );border-radius: 1px;
	background-color: #D8C7A1;background-color: rgba( 216, 199, 161, 0.5 );text-align: center;color:
		#fff;margin: 24px 0 0 10px;}
#infoBoard a:first-child {margin-left: 11px;}
#infoBoard a:hover {color: #F64400;}