<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
  
<mapper namespace="com.bwf.mapper.UserMapper">
    <!-- 默认有一个空的构造方法，当有构造方法，需要创建一个无参构造 -->
	<!--  <resultMap type="com.bwf.bean.User" id="getUserAllMap">
	<result column="id"  property="userId"/>
	</resultMap>
	-->
  
  <select id="getUserAll" resultType="com.bwf.bean.User">
  	select * from userInfo 
  </select>
  
   <select id="getUserById"  resultType="com.bwf.bean.User" >
  	select * from userInfo where userId=#{userId}
  </select>
   


  <insert id="getAddUser" parameterType="com.bwf.bean.User" >
  	<selectKey keyProperty="userId" keyColumn="userId" resultType="int" order="AFTER">
  	select LAST_INSERT_ID()
  	</selectKey>
     INSERT INTO userInfo (userName,userPsw,userId) VALUES (#{userName},#{userPsw},DEFAULT);
  </insert>

  
 

</mapper>
