@charset "UTF-8";
body{ font-family: "Microsoft Yahei", "Hiragino Sans GB";}
input,textarea { outline: none; }
input[type=text]:focus,input[type=password]:focus{border: 1px solid #339933 !important;}
::-webkit-input-placeholder {color: #ccc; }
::-moz-placeholder {color: #ccc;}
textarea:focus{border: 1px solid #339933 !important;}
b{ font-style: normal; font-weight: 100;}
#fm1{ position: relative;}
.D-login-wrap, .D-login-wrap .D-login p, .D-login-wrap .D-login p .D-submit { position: relative; }
.D-header-wrap .D-header, .D-main-wrap { overflow: hidden; }

/*--------------------表单单选框、复选框美化--------------------*/
.custom_checkbox,.custom_radio{position:relative;}
.custom_checkbox input{position:absolute;left:7px;top:6px;margin:0;}
.custom_checkbox label{display:block; height:24px;line-height:24px;position:relative;padding:0 0 0 28px;cursor:pointer;}
.custom_checkbox label{background:url(../images/checkbox.png) no-repeat;}
.custom_radio label{background:url(../images/radiobutton.png) no-repeat;}
.custom_checkbox label,.custom_radio label{background-position:-10px -15px;}
.custom_checkbox label.hover,.custom_checkbox label.focus,.custom_radio label.hover,.custom_radio label.focus{background-position:-10px -115px;}
.custom_checkbox label.checked,.custom_radio label.checked{background-position:-10px -215px;}
.custom_checkbox label.c_disabled{background-position:-10px -415px;}
.custom_checkbox label.c_ck_disabled{background-position:-10px -515px;}
.custom_checkbox label.checkedHover,.custom_checkbox label.checkedFocus{background-position:-10px -315px;}
.custom_checkbox label.focus,.custom_radio label.focus{outline:none;}
.custom_radio input{position:absolute;left:7px;top:6px;margin:0;}
.custom_radio label{display:block; height:24px;line-height:24px;position:relative;padding:0 0 0 28px;cursor:pointer;}
.custom_radio label.c_disabled{background-position:-10px -315px;}
.custom_radio label.c_ck_disabled{background-position:-10px -415px;}

/* 重构 头部 */
.D-header-wrap {width: 100%; height: 100px;}
.D-header-wrap .D-header { margin: 0 auto; width: 1190px;}
.D-header-wrap .D-header .D-logo{ float: left;}
.D-header-wrap .D-header .D-logo a { display: block; float: left; width: 174px; height: 75px; background: no-repeat center top; padding-right: 20px; margin-top: 15px; border-right: 1px solid #e6e6e6; }
.D-header-wrap .D-header .D-logo span{ display: block; float: left; line-height: 100px; font-size: 30px; color: #f60; margin-left: 15px; }
.D-header-wrap .D-header .D-adv{height: 70px; margin-top: 15px; float: right; }
.D-header-wrap .D-infs { margin-left: 5px; float: left; color: #757575; }

/* 登录中间 */
.D-main-wrap { width: 100%; height:500px; overflow: hidden;}


/* 登录尾部 */
.D-footer-wrap { width: 1190px; margin: 0 auto; padding: 20px 0 10px; background-color: #ffffff; }
.D-footer-wrap p {color: #333333; line-height: 28px; }
.D-footer-wrap p a{ color: #555; }

/* 登录框 */
.c_08e{ color: #08e !important;}
.mt40{ margin-top: 40px !important;}
.D-login-wrap { position: absolute; top:140px; width: 360px;left: 50%; margin-left:235px;}
.username{ color: #ccc;}

.D-login-wrap .D-login {position:relative; width: 320px; height: 418px; padding: 0 19px; background: #fff; border:1px solid #fff;  z-index: 99;  }
.D-login-wrap .D-login h3 {font-size: 20px; color: #333; margin-top:26px;font-weight: normal;}
.D-login-wrap .D-login h3 i{ display: inline-block; float: right; margin-right: 30px;}
.D-login-wrap .D-login .D-input-wrap { margin-top: 14px; position: relative;}
.D-login-wrap .D-login .D-input-wrap input {  width:278px; padding:0 0 0 40px; height: 38px; line-height: 38px; border: 1px solid #e6e6e6; font-size: 14px; }
.D-login-wrap .D-login p {color: #ffffff; height: 40px; line-height: 40px; }
.D-login-wrap .D-login p a { font-size: 14px; color: #f60;}
.D-login-wrap .D-login p a:hover { text-decoration: underline; }
.D-login-wrap .D-login p .D-submit { background: #f60; cursor: pointer; height: 40px; vertical-align : middle; width: 320px; color: #fff; font-size: 18px;}
.none{ display: none;}
.btn_disabled{ display: block; background: #cccccc !important; text-align: center;}
.D-login-wrap .D-login p .D-submit-a { color: #ffffff; font-size: 12px; right: 50px; font-weight: normal; }
.D-login-wrap .D-login .D-hint-error { width: 293px; position: absolute; top: 55px; z-index: 99; padding-left: 25px; height:22px; line-height: 22px; border:1px solid #ffbdbe; background:#ffebeb url("../images/prompt_img_small_wrong.png") 5px 4px no-repeat; color:#f00;}
.D-change-verify { text-decoration:underline; color:#1711e9; font-size:14px; font-style: italic; }

.D-wechat ul li{ position:absolute;top:4px; right:4px; z-index:999;width:54px; height:54px; overflow: hidden;text-align:right; cursor:pointer; }
.D-wechat>ul>li {display: none;}
.D-wechat>ul>li.on {display: block;}
.rcodeimageId{ position: absolute; top: 5px; right:5px;}
.yzm_t{ display: block; position: absolute; top: 0; left: 10px; line-height:40px; z-index: 99; color: #333; font-size: 14px; }
.D-verify{ width:148px !important;  padding-left: 70px !important; padding-right: 100px !important;}
.third_login_tit{margin-top: 6px;  text-align: center;}
.third_login_tit span{ display: inline-block; height: 1px; width:100px; background: #ccc; margin-bottom: 3px; }
.third_login_tit p{ display:inline-block; font-size: 12px; height:40px; line-height: 40px;  margin: 0 12px; color: #999 !important;}





/* 重构 头部 M */
.D-header-wrap-m {
	padding:10px 0 10px 10px;
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	height: 80px;
}
.D-header-wrap-m img {
	width:100%; 
	height:80px;
} 

/* 重构 尾部 */
.ml30{ margin-left: 30px;}
.D-footer-wrap-m { width:100%; position: fixed; bottom:0;  text-align: center; color: #333; }
.D-footer-wrap-m p { font-size: 1.3rem; line-height: 1.8rem; }
.code_img{ display: block; width:85px; height: 85px; }
.code_t{display: block;  width: 85px; line-height: 30px; text-align: center; color: #555;}


/* 重构 主体 */
.D-body-wrap-m { height: auto;padding: 15px;background: #f5f5f5;}
.D-body-wrap-m h3 { height: 40px; font-weight: normal;
    background: url("../images/login_topBg.png") no-repeat center top; background-size: 49px 49px;
    margin: 15px 0 0 0; font-size: 1rem; color: #808080; line-height: 36px;
    padding: 50px 0 0 0; text-align: center; }

.D-body-wrap-m .D-input-wrap { width:250px; margin:0 auto;}
.D-body-wrap-m .D-m-base-input { margin:10px auto 0;padding:10px 10px; width:230px; height:14px; border-radius: 5px; line-height: 14px; border:1px solid #e6e6e6;}
.D-body-wrap-m .D-hint-error-m { padding-left: 10px; width:238px; height:30px; line-height: 30px; color:#f00; border:1px solid #e6e6e6; background-color:#ffffd1;}
.D-body-wrap-m .D-verify-m {width:70px; vertical-align: middle;}
.D-change-verify-m, .D-m-verify-img { vertical-align: bottom; text-decoration: underline;}
.D-m-verify-img {margin-top:10px;}
.D-body-wrap-m p { margin: 10px 0; height:auto; overflow:hidden; position:relative;} 
.D-body-wrap-m p input { margin:-3px 5px 0 0; vertical-align: middle; position:relative; width:18px; height:18px;}
.D-body-wrap-m p .D-register {position:absolute; right:3px; font-size: 14px; color:#f6ab00; font-weight: bold;}
.D-login-btn-m {margin:5px 0; width:100%; height:40px; line-height: 40px; background:#f60; border-radius: 5px; color:#fff; vertical-align: middle; font-size: 1.4rem; }
.D-forpw-m {width:100px; display: block; color:#666; font-size: 1rem;}


/*wx add 登录*/
.user_img{ width:22px; height: 24px; background: url("../images/login.png") no-repeat; position: absolute; top: 8px; left:10px; }
.pwd_img{width:22px; height: 24px; background: url("../images/login.png") 0 -25px no-repeat; position: absolute; top: 8px; left:10px;}
.pw_hide{ width:22px; height: 24px; background: url("../images/login.png") 0 -48px no-repeat; position: absolute; top: 8px; right:10px;}
.pw_show{width:22px; height: 24px; background: url("../images/login.png")  0 -68px no-repeat; position: absolute; top: 8px; right:10px;}
.password{ padding-right: 40px !important; width: 238px !important;}
/*微信登录*/
.login_prompt{margin-top: -8px;}
.sm_tit{ margin:20px 0 16px;text-align: center; color: #333; font-size: 14px;}
.code_box{ position: relative; width: 154px; height: 154px; margin: 0 auto;  padding: 12px; border: 1px solid #e6e6e6;}
.code_invalid{ position: absolute; top:0; left: 0; width:178px; height: 178px; background: url("../images/trans.png") ; }
.code_invalid span{ font-size: 20px; color: #333; display: block; line-height: 60px; text-align: center; margin-top: 30px;}
.refresh_btn{ display: block; width: 140px; height: 40px; background: #f60; color: #fff; line-height: 40px; text-align: center; font-size: 16px; margin: 0 auto;}
.refresh_btn{ color: #fff !important;}

.sm_tit2{ margin:20px 0 16px;text-align:center;color: #333; font-size: 14px;}
.sm_tit2 span{ display: inline-block; text-align: left;}
.sm_icon{ display: inline-block; margin-right: 10px;}
.app_sm{ margin-top: -20px;}
.no_account{ text-align: center;font-size: 14px;}
.no_account span{ color: #ccc; padding-right: 10px;}
.no_account a{ color: #f60;}
.sm_after img{ display:block; width: 80px; height: 129px; margin: 37px  auto 0;}
.sm_after span{ display: block; font-size: 16px; color: #009900; text-align: center; margin-top: 30px;}
.sm_after p{ font-size: 16px; color: #333 !important;text-align: center;}
.return{ display: block; font-size: 14px; color: #f60; text-align: center}

/*----右侧浮动-----*/
.w72{width:72px}
.c_f60{ color: #f60;}
.mr5{ margin-right: 5px !important;}
.mb20{ margin-bottom: 20px;}
.mb56{ margin-bottom: 56px;}
.service{ position: fixed; top:50%; right:0; margin-top: -70px; z-index: 9999;}
.service>div{ width: 54px; height: 68px; border: 1px solid #e6e6e6; background: #f2f2f2;}
.kefu img,.feedback img{ width: 30px; height: 34px; display: block; margin: 8px 0 0 10px;}
.kefu span,.feedback span{ display: block; width: 54px; margin-left: 13px; line-height: 22px; }
.feedback{ margin-top: -1px; cursor: pointer;}
/*反馈弹框*/
.f12{ font-size: 12px;}
.feedback_mian{ height: auto; position: fixed;right:-17px;left:0; top: 0; bottom:0; z-index: 9999; overflow:auto;}
.mask{background: url("../images/bghalf.png") repeat 0 0; }
.feedback_box{ width: 1190px;background: #fff;margin-left:200px}
.close_btn{ display: block; position: fixed; right:0; top:0; width:82px; height: 80px; background: url("../images/close_btn.png") no-repeat; }
.feedback_tit{ width: 1190px; height: 102px; padding-top: 20px; border-bottom: 2px solid #f60;}
.feedback_tit img{ display: inline-block; width: 174px; height: 75px; margin:-15px 0 0 90px; border-right: 1px solid #e6e6e6; padding-right: 20px;}
.feedback_tit h3{ font-size: 32px; font-weight: normal; color: #f60; display: inline-block; margin-left: 20px;height: 75px; line-height: 75px;}
.feedback_con{ padding: 0 90px 40px; color: #555;}
.polite_text{ font-size: 18px; line-height: 36px; margin-top: 32px; }
.textbox{ margin: 20px 0 0 30px;}

.question{ font-size: 16px; line-height: 30px; margin-bottom: 5px;}
.question span{ display: inline-block;}
.feedback_con .custom_checkbox{position:relative;height: 30px; line-height: 30px; margin-left: 13px; font-size: 14px;}
.feedback_con .custom_checkbox input{position:absolute;left:7px;top:6px;margin:0;}
.feedback_con textarea{ margin-left: 18px; border: 1px solid #e6e6e6; padding:10px; margin-top: 10px;}
.fill_ts{margin-bottom: 13px; font-size: 14px;padding-left: 20px; line-height: 24px;}
.ues_phone,.ues_email{ margin-left: 24px; display: inline-block; width: 75px; text-align: right; font-size: 14px; height: 40px; line-height: 40px;}
.fk_iput{ width: 400px; height: 42px; border: 1px solid #e6e6e6; padding-left: 10px;}
.feedback_ts{ color: #999; line-height: 40px;}
.feedback_ts img{ width: 16px; height: 16px; padding: 0 5px;}
.btn {height: 38px; line-height: 38px;  padding: 0 18px; text-align: center; display: inline-block; color: #fff; font-size: 16px; background-color: #f60; border: 1px solid #f50; padding: 0 38px;}
.btn:hover {background-color: #f40; color: #fff;}
/*客服弹框*/
.l-S-pop{top:50%;right:54px; bottom: inherit; margin-top: -70px; height: auto; background: #fff; display: none;}
.l-S-pop-bt {background: #f8f8f8 url(../images/l-sadd.gif) no-repeat 8px center; }
/*自定义滚动条*/



